@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/*LOGIN FORM START*/

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./Images/loginBackgroundV2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.loginInput{
    position: relative;
    margin: 40px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.loginInput label{
    position: absolute;
    top: -40%;
    left: 35%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.loginInput input:focus ~ label,
.loginInput input:valid ~ label{
    top: -5px;
}

.loginInput input{
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease;
}

button:hover{
    background-color: rgb(255, 255, 255, 0.5);
}

.registerStudent{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 5px;
}

.registerStudent p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registerStudent p a:hover{
    text-decoration: underline;
}

/*LOGIN FORM END*/